<div class="tw-border tw-rounded tw-relative">
  <div class="tw-flex tw-flex-wrap tw-gap-1 tw-p-1 tw-cursor-pointer tw-h-12 tw-overflow-hidden" [class.tw-mt-2]="entitiesList.length > 3">
    <div
      *ngFor="let entity of entitiesList"
      class="tw-h-4 tw-flex tw-items-center tw-gap-2 tw-border tw-flex-row tw-rounded tw-px-2 tw-py-1 mat-elevation-z1 tw-cursor-text">
      <div class="mat-caption tw-text-ellipsis tw-whitespace-nowrap tw-overflow-x-hidden">
        {{ entity.Name }}
      </div>
    </div>
  </div>
  <span *ngIf="entitiesList.length > 3" class="tw-h-4 tw-flex-auto tw-text-right tw-absolute tw-right-0 tw-top-0 tw-text-xs">
    {{ entitiesList.length }}
    total
  </span>
  <div class="tw-h-6 tw-bottom-0 tw-right-0 tw-left-0 tw-absolute tw-mx-1 tw-bg-gradient-to-t tw-from-white tw-to-transparent"></div>
</div>
