<div class="tw-border tw-rounded tw-relative">
  <div
    class="tw-flex tw-flex-wrap tw-gap-1 tw-p-1 tw-pb-6 tw-cursor-pointer tw-overflow-hidden"
    [class.tw-pt-3]="entitiesList.length > 3"
    [class.tw-h-12.tw-pb-1]="!open">
    <span *ngIf="entitiesList.length === 0">Context's list is empty</span>
    <div
      *ngFor="let entity of entitiesList"
      class="tw-h-4 tw-flex tw-items-center tw-gap-2 tw-border tw-flex-row tw-rounded tw-px-2 tw-py-1 mat-elevation-z1 tw-cursor-text">
      <div class="mat-caption tw-text-ellipsis tw-whitespace-nowrap tw-overflow-x-hidden" [appHighlight]="highlight" [text]="entity.Name">
      </div>
    </div>
  </div>
  <ng-container *ngIf="entitiesList.length > 3">
    <span class="tw-h-4 tw-flex-auto tw-text-right tw-absolute tw-right-0 tw-top-0 tw-text-xs">
      {{ entitiesList.length }}
      total
    </span>
    <div *ngIf="!open" class="tw-h-6 tw-bottom-0 tw-right-0 tw-left-0 tw-absolute tw-mx-1 tw-bg-gradient-to-t tw-from-white"></div>
    <div
      (click)="open = !open"
      class="tw-h-6 tw-bottom-0 tw-right-0 tw-left-0 tw-absolute tw-mx-1 tw-bg-gradient-to-t tw-from-white tw-cursor-pointer tw-flex tw-items-center tw-opacity-0 hover:tw-opacity-100 tw-flex-col tw-content-center">
      <mat-icon *ngIf="open">arrow_drop_up</mat-icon>
      <mat-icon *ngIf="!open">arrow_drop_down</mat-icon>
    </div>
  </ng-container>
</div>
