@import 'variables.scss';


@include mat.typography-hierarchy($typography);

.mat-subtitle-1 {
  margin: 0;
}


.text-break {
  white-space: break-spaces !important;
  word-break: break-word !important;
}
