<h1 mat-dialog-title>{{ data.Name }}</h1>

<div class="tw-flex tw-justify-end tw-mr-2">
  <button mat-raised-button
          color="primary"
          [disabled]="data.IsVirtual"
          (click)="grantRightsDialogService.addPermission()">
    Add permission
  </button>
</div>
<ng-container *ngIf="loaded$ | async; else loading">
  <div class="tw-flex-1 tw-min-h-0 tw-overflow-auto"
       *ngIf="{
      rights: rights$ | async,
      filter: filter$ | async
    } as obj">
    <div class="row tw-p-3 tw-w-full tw-gap-4 tw-sticky tw-top-0 tw-bg-white tw-z-10">
      <div></div>
      <app-search-header [label]="'Role'"
                         (search)="grantRightsDialogService.searchRole($event)"
                         class="tw-block tw-h-12 tw-cursor-pointer"
                         [width]="'150px'">
        Role
      </app-search-header>
      <app-search-header [label]="'Comment'"
                         (search)="grantRightsDialogService.searchComment($event)"
                         class="tw-block tw-h-12 tw-cursor-pointer"
                         [width]="'300px'">
        Comment
      </app-search-header>

      <div class="tw-flex tw-h-12 tw-gap-4 tw-items-center tw-cursor-pointer">
        <span *ngFor="let context of allContexts$ | async"
              class="contexts tw-flex-1 tw-h-full">
          <app-search-header [width]="'350px'"
                             [label]="context.Name + '\'s contexts'"
                             (search)="grantRightsDialogService.searchContext(context.Id, $event)"
                             class="tw-block tw-h-full">
            {{ context.Name + "'s contexts" }}
          </app-search-header>
        </span>
      </div>
    </div>

    <div class="row tw-p-2 tw-mx-4 tw-gap-4 tw-w-fit tw-border-b last:tw-border-0"
         *ngFor="let element of obj.filter | rightsFilter : obj.rights ?? []; index as index">
      <button mat-icon-button
              [disabled]="element.IsVirtual"
              [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngIf="allContexts$ | async as allContexts"
                mat-menu-item
                (click)="grantRightsDialogService.edit(element, index)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item
                (click)="grantRightsDialogService.remove(index)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
      <div class="tw-break-all"
           [appHighlight]="obj.filter?.role"
           [text]="element.Role"></div>
      <div class="tw-overflow-scroll tw-max-h-[80px]"
           [appHighlight]="obj.filter?.comment"
           [text]="element.Comment"></div>
      <div class="tw-flex tw-items-center">
        <div class="tw-flex tw-gap-4 tw-my-1">
          <ng-container *ngFor="let context of allContexts$ | async">
            <app-select-context *ngIf="{data : element | contextFilter : context} as ctx"
                                class="contexts tw-flex-1 tw-rounded"
                                [class.tw-bg-gray-300]="!ctx.data?.available"
                                [class.tw-bg-green-100]="ctx.data?.required"
                                [highlight]="obj.filter?.contexts | contextStringFilter : context"
                                [entitiesList]="ctx.data?.Entities ?? []" />
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div mat-dialog-actions
     class="tw-flex tw-justify-end">
  <button mat-button
          mat-dialog-close>Cancel</button>
  <button mat-raised-button
          color="primary"
          [disabled]="data.IsVirtual"
          (click)="save()"
          cdkFocusInitial>Save</button>
</div>

<ng-template #loading>
  <div class="tw-flex tw-items-center tw-justify-center tw-h-full">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>