<h1 mat-dialog-title>{{ data.Name }}</h1>

<div class="tw-flex tw-justify-end tw-mr-2">
  <button mat-raised-button color="primary" (click)="add()">Add role</button>
</div>
<div class="tw-flex-1 tw-min-h-0 tw-overflow-auto">
  <table *ngIf="rightsObj | async as rights" aria-describedby="permissions and contexts table" mat-table [dataSource]="rights.Permissions">
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <ng-container [matColumnDef]="'Role'">
      <th mat-header-cell *matHeaderCellDef>
        <app-search-header [label]="'Role'" (search)="searchRole($event)" class="tw-block tw-h-12 role"> Role </app-search-header>
      </th>
      <td mat-cell *matCellDef="let element" class="tw-cursor-pointer">
        <div>{{ element.Role }}</div>
      </td>
    </ng-container>

    <ng-container [matColumnDef]="'Comment'">
      <th mat-header-cell *matHeaderCellDef class="comment"> Comment </th>
      <td mat-cell *matCellDef="let element">
        {{ element.Comment }}
      </td>
    </ng-container>
    <ng-container [matColumnDef]="'Contexts'">
      <th mat-header-cell *matHeaderCellDef>
        <div class="tw-flex tw-h-12 tw-items-center tw-cursor-pointer">
          <span *ngFor="let context of allContexts" class="context tw-flex-1 tw-h-full">
            <app-search-header
              [label]="context.Name + '\'s contexts'"
              (search)="searchContext(context.Id, $event)"
              class="tw-block tw-h-full">
              {{ context.Name + "'s contexts" }}
            </app-search-header>
          </span>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="tw-flex tw-gap-4 tw-my-1">
          <app-select-context
            *ngFor="let context of allContexts"
            class="context tw-flex-1"
            [entitiesList]="element | contextFilter : context">
          </app-select-context>
        </div>
      </td>
    </ng-container>

    <ng-container [matColumnDef]="'delete'">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" class="tw-cursor-pointer">
        <mat-icon fontIcon="delete" (click)="remove(element)"></mat-icon>
      </td>
    </ng-container>
    <ng-container [matColumnDef]="'edit'">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" class="tw-cursor-pointer">
        <mat-icon fontIcon="edit" (click)="edit(element, allContexts)"></mat-icon>
      </td>
    </ng-container>
  </table>
</div>

<div mat-dialog-actions class="tw-flex tw-justify-end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="getResult()" cdkFocusInitial>Save</button>
</div>
