<h1 mat-dialog-title>{{ isEditMode ? 'Edit Principal' : 'Add Principal' }}</h1>

<div mat-dialog-content class="tw-flex tw-flex-col">
  <div class="mat-caption">Princapal</div>
  <mat-form-field appearance="fill" class="tw-w-full">
    <input matInput type="text" [(ngModel)]="name" />
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="name" cdkFocusInitial>Save</button>
</div>
