<h1 mat-dialog-title>{{ data.Name }}</h1>

<div mat-dialog-content>
  <mat-tab-group animationDuration="0ms" class="tw-h-full">
    <mat-tab>
      <ng-template mat-tab-label>
        <span [matBadge]="details.BusinessRoles.length" matBadgeOverlap="false">Business Roles</span>
      </ng-template>
      <mat-list role="list">
        <mat-list-item *ngFor="let role of details.BusinessRoles" role="listitem">
          <div class="mat-subtitle-1">{{ role }}</div>
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span [matBadge]="details.Principals.length" matBadgeOverlap="false">Principals</span>
      </ng-template>
      <mat-list role="list">
        <mat-list-item *ngFor="let principal of details.Principals" role="listitem">
          <div class="mat-subtitle-1">{{ principal }}</div>
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Close</button>
</div>
