<h1 class="tw-text-2xl">Permission edit</h1>

<div class="tw-grid tw-grid-cols-2 tw-gap-2">
  <mat-form-field>
    <mat-label>Role</mat-label>
    <input matInput type="text" [value]="data.permission.Role" [disabled]="true" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Comment</mat-label>
    <input matInput type="text" [(ngModel)]="data.permission.Comment" />
  </mat-form-field>
</div>
<form class="tw-grid tw-grid-cols-2 tw-gap-2" [formGroup]="dates">
  <mat-form-field appearance="fill" class="example-form-field">
    <mat-label>Start date</mat-label>
    <input matInput [matDatepicker]="datepickerStart" [formControlName]="'start'" />
    <mat-datepicker-toggle matIconSuffix [for]="datepickerStart"></mat-datepicker-toggle>
    <mat-datepicker #datepickerStart> </mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" class="example-form-field">
    <mat-label>End date</mat-label>
    <input matInput [matDatepicker]="datepickerEnd" [formControlName]="'end'" />
    <mat-datepicker-toggle matIconSuffix [for]="datepickerEnd"></mat-datepicker-toggle>
    <mat-datepicker #datepickerEnd> </mat-datepicker>
  </mat-form-field>
</form>
<h3 class="tw-text-xl">Contexts</h3>
<div class="tw-flex-1 tw-overflow-auto">
  <div class="tw-flex tw-gap-4 tw-h-full">
    <div *ngFor="let item of permissionEditDialogService.forms" class="context tw-flex tw-flex-col">
      <div class="tw-flex tw-gap-1 tw-items-center tw-mb-2">
        <app-search-header
          [label]="item.controls.unit.value.Name"
          #searchHeader
          class="tw-flex-1 tw-block tw-h-12 tw-cursor-pointer"
          [width]="'200px'">
          {{ item.controls.unit.value.Name }}
        </app-search-header>
        <button
          class="tw-w-10 tw-h-10 tw-rounded hover:tw-bg-gray-100"
          aria-label="Massive paste"
          [title]="'Massive paste'"
          (click)="permissionEditDialogService.massInsert(item.controls.unit.value, item.controls.entities)">
          <mat-icon class="tw-mt-1">post_add</mat-icon>
        </button>
      </div>
      <app-add-entity-control
        class="tw-w-full"
        [unitId]="item.controls.unit.value.Id"
        (selected)="permissionEditDialogService.add(item.controls.entities, $event)">
      </app-add-entity-control>
      <div class="tw-overflow-y-auto tw-pb-2">
        <div
          *ngFor="let context of item.controls.entities.controls | filterContexts : searchHeader.searchText"
          class="tw-flex tw-items-center tw-gap-1 tw-relative">
          <app-select-entity class="tw-w-full" [control]="context" [unitId]="item.controls.unit.value.Id"></app-select-entity>
          <mat-icon
            title="Remove"
            (click)="permissionEditDialogService.remove(item.controls.entities, context)"
            class="tw-opacity-5 tw-absolute tw-right-0 hover:tw-opacity-100 tw-cursor-pointer"
            >delete
          </mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tw-flex tw-justify-end tw-gap-2">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button (click)="save()" color="primary">Submit</button>
</div>
