@* Generator: Template*@@{}
@using Framework.Configuration.SubscriptionModeling
@using Framework.Workflow.Domain
@inherits RazorTemplate<WorkflowCreateModel>
@functions {
    public override string Subject => "Workflow create model created";
}
<h2>Hi there!!!</h2>