@* Generator: Template*@@{}
@using Framework.Configuration.SubscriptionModeling
@using SampleSystem.Subscriptions.Metadata.DomainChangedByRecipients.NotPersistentCustomModel
@inherits RazorTemplate<CustomNotificationModel>
@functions {
    public override string Subject => $"Country {Current.Country.Code} has been updated";
}
<html>
    <head></head>
    <body>
    <p>Country with code: @Current.Country.Code was updated and has @Current.LocationsCount locations</p>
    <img src="@AttachmentLambda.AttachmentName"/>
    </body>
</html>
