<!-- TODO: refactor -->
<div (click)="isOpen = !isOpen" cdkOverlayOrigin #trigger="cdkOverlayOrigin" class="tw-flex tw-items-center tw-h-full">
  <ng-content></ng-content>
  <mat-icon class="tw-ml-2" *ngIf="!searchText">arrow_drop_down</mat-icon>
  <mat-icon class="tw-ml-2" *ngIf="searchText" fontIcon="search_off"></mat-icon>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayPositions]="positions"
  [cdkConnectedOverlayOpen]="isOpen"
  (overlayOutsideClick)="isOpen = !isOpen"
  (attach)="focus()"
  #overlay>
  <div class="wrapper">
    <mat-form-field class="tw-w-full" [subscriptSizing]="'dynamic'">
      <mat-label>{{ label }}</mat-label>
      <input matInput class="search-header-input" [(ngModel)]="searchText" placeholder="Type to search..." (keyup)="onSearch()" />
    </mat-form-field>
  </div>
</ng-template>
