<h1 mat-dialog-title>Push Event</h1>

<div mat-dialog-content>
  <div class="mat-caption">Event</div>
  <div class="mat-subtitle-1 tw-text-black">{{ data.Name }}</div>

  <div class="mat-caption tw-mt-5">Operation</div>
  <mat-form-field appearance="fill" class="tw-w-full">
    <mat-select [(value)]="result.operationId">
      <mat-option *ngFor="let operation of data.Operations" [value]="operation.Id">{{ operation.Name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="mat-caption tw-mt-5">Id(s)</div>
  <mat-form-field class="tw-w-full">
    <textarea matInput [(ngModel)]="result.domainTypesIds"></textarea>
  </mat-form-field>

  <div class="mat-caption tw-mt-5">Revision</div>
  <mat-form-field appearance="fill" class="tw-w-full">
    <input matInput type="number" [(ngModel)]="result.revision" />
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" cdkFocusInitial [mat-dialog-close]="result">Push</button>
</div>
