@* Generator: Template
    DisableLinePragmas: true*@@{}
@inherits Framework.Subscriptions.Metadata.RazorTemplate<SampleSystem.Domain.Employee.Employee>
@functions {
    public override string Subject => $"Employee {Current.NameNative} has been changed";
}
<h2>Hi there!!!</h2>

My test employee Name: @Current.NameNative
