@* Generator: Template*@@{}
@using Framework.Configuration.SubscriptionModeling
@using Framework.Authorization.Domain
@inherits RazorTemplate<PrincipalCreateModel>
@functions {
    public override string Subject => "Principal create model created";
}
<h2>Hi there!!!</h2>