@* Generator: Template*@@{}
@using Framework.Configuration.SubscriptionModeling
@using Framework.Configuration.Domain
@inherits RazorTemplate<RunRegularJobModel>
@functions {
    public override string Subject => "Run regular job model created";
}
<h2>Hi there!!!</h2>