@* Generator: Template
     DisableLinePragmas: true*@@{}
@using SampleSystem.Domain
@inherits Framework.Subscriptions.RazorTemplate<Country>
@functions {
    public override string Subject => $"Country {Current.Code} has been create";
}
<h2>Hi there!!!</h2>

My test country Code: @Current.Code
