@* Generator: Template*@@{}
@using Framework.Configuration.SubscriptionModeling
@using SampleSystem.Domain
@using SampleSystem.Subscriptions.Metadata.Examples.Attachment
@using SampleSystem.Subscriptions.Metadata.Examples.AttachmentInline
@inherits RazorTemplate<Employee>
@functions {
    public override string Subject => $"Employee {Current.NameNative} has been changed. Inline attach test";
}<html><head><title></title></head><body>@Current.NameNative<br/><img src="@AttachmentLambda.AttachmentName"/></body></html>