@* Generator: Template
    DisableLinePragmas: true*@@{}
@using SampleSystem.Domain
@inherits LuxIM.Subscriptions.Metadata.LocalRazorTemplate<Employee>
@functions {
    public override string Subject => $"Employee {Current.NameNative} has been changed";
}<h2>Hi there!!!</h2>
My test employee Name: @GetEmployeeName(Current)
Date: @GetDateString(new DateTime(2015, 10, 21))
