<h1 mat-dialog-title>{{ data.Name }}</h1>

<div mat-dialog-content class="tw-max-h-full">
  <mat-tab-group animationDuration="0ms" class="tw-h-full">
    <mat-tab>
      <ng-template mat-tab-label>
        <span [matBadge]="details?.Permissions?.length" matBadgeOverlap="false">Roles</span>
      </ng-template>

      <div class="tw-flex tw-flex-col tw-gap-4 tw-px-1 tw-py-2">
        <mat-card *ngFor="let permission of details?.Permissions">
          <mat-card-header class="tw-py-4">
            <mat-card-title class="tw-text-black">{{ permission.Role }}</mat-card-title>
            <mat-card-subtitle>{{ permission.Comment }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <div class="tw-flex tw-flex-col tw-gap-2">
              <div *ngFor="let context of permission.Contexts">
                <div class="mat-caption">{{ context.Name }}</div>
                <mat-chip-set>
                  <mat-chip *ngFor="let entity of context.Entities">
                    <div class="mat-caption">{{ entity.Name }}</div>
                  </mat-chip>
                </mat-chip-set>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Close</button>
</div>
