<h1 mat-dialog-title>Add Role</h1>

<div mat-dialog-content class="tw-flex tw-flex-col">
  <div class="mat-caption">Role</div>
  <mat-form-field appearance="fill" class="tw-w-full">
    <input matInput type="text" [formControl]="control" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let role of roles$ | async | filterOptions : control.value" [value]="role">
        {{ role.Name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div mat-dialog-actions class="tw-flex tw-justify-end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="control.value" cdkFocusInitial>Add</button>
</div>
