<mat-form-field class="tw-w-full">
  <mat-label>Filter</mat-label>
  <input matInput [formControl]="control" />
</mat-form-field>

<div class="mat-elevation-z8 tw-overflow-auto" tabindex="0">
  <table mat-table [dataSource]="dataSource">
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element" class="tw-w-4/5">
        <div class="mat-subtitle-1">{{ element.Name }}</div>
        <div class="mat-caption">{{ element.Namespace }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="tw-w-1/5">
        <button mat-raised-button color="primary" class="tw-ml-auto" (click)="openDialog(element)">Push</button>
      </td>
    </ng-container>
  </table>
</div>
