<div class="tw-p-4 tw-flex tw-flex-col tw-gap-2">
  <h1 class="tw-text-2xl">{{ data.unit.Name }}</h1>

  <mat-form-field class="example-full-width">
    <mat-label>List of contexts</mat-label>
    <textarea
      matInput
      [(ngModel)]="value"
      rows="6"
      [placeholder]="'Parsing symbols: semicolon, tab, new line' + (excludeComma ? '' : ', comma')"></textarea>
  </mat-form-field>

  <div class="tw-flex tw-justify-between tw-gap-2 tw-items-center">
    <mat-checkbox class="example-margin" [(ngModel)]="excludeComma"> Exclude comma from parsign </mat-checkbox>
    <div class="tw-flex tw-items-center tw-gap-2">
      <div *ngIf="loading" class=""> {{ currentSubject | async }} / {{ totalSubject | async }} </div>
      <button mat-button (click)="cancel()" [disabled]="loading">Cancel</button>
      <button mat-raised-button (click)="save()" color="primary" [disabled]="loading">
        <ng-container *ngIf="!loading"> Paste </ng-container>
        <mat-progress-spinner *ngIf="loading" class="tw-h-4 tw-w-4 tw-top-0 tw-m-1" [mode]="'indeterminate'"> </mat-progress-spinner>
      </button>
    </div>
  </div>
</div>
